.App {
  text-align: center;
}

.navigation {
  width: 100vw;  
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: black;
  font-size: 30px;
  padding: 5px;
}

.ref {
  margin-right: 1em;
  color: white;
}

.login-form {
  border-style: dashed;
}